html {
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}

.theme-light {
  --primary-text-color: #212121;
  --background-color: #ffffff;
  --accent-color: #ffb400;
  --theme-toggle-color: #595959;
  --query-border-color: #595959;
  --page-heading-color: #dadce0;
  --admin-item-color: #dadce0;
  --footer-item-color: #595959;
  --footer-color: #dadce0;
}

.theme-dark {
  --primary-text-color: #ffffff;
  --background-color: #121212;
  --accent-color: #ffc107;
  --theme-toggle-color: #9e9e9e;
  --query-border-color: #9e9e9e;
  --page-heading-color: #1e1e1e;
  --admin-item-color: #1e1e1e;
  --footer-item-color: #9e9e9e;
  --footer-color: #1e1e1e;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--primary-text-color);
  display: block;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.3rem;
}

#index-search-section {
  margin: auto;
  text-align: center;
}

#index-title {
  font-size: 50px;
  padding-top: 30vh;
  margin-bottom: 3vh;
}

#version {
  font-size: 15px;
  color: var(--accent-color);
}

#query {
  width: 55vw;
  padding: 11px;
  font-size: 17px;
  margin-bottom: 3vh;
  border-radius: 5px;
  transition: box-shadow 0.3s;
  border: 1px solid var(--query-border-color);
}

#submit-button {
  display: block;
  margin: auto;
  padding: 0.1rem;
  visibility: hidden;
}

#results-section {
  margin: auto;
  padding-bottom: 2em;
}

.page-heading {
  padding-top: 3vh;
  padding-left: 5rem;
  padding-bottom: 2vh;
  margin-bottom: 4vh;
  background-color: var(--page-heading-color);
}

.page-title {
  font-size: 35px;
}

#results-box {
  width: 75%;
  padding-left: 5rem;
}

.searchResult {
  font-size: 16px;
  display: block;
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.searchResult:hover {
  transition: 0.5s;
  transform: scale(1.07);
  transform-origin: left;
  -o-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -webkit-transform: scale(1.07);
  color: var(--accent-color);
  background-color: var(--fixed-grey); /* ISSUE */
}

.admin-container {
  width: 97vw;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
}

.admin-item {
  padding: 15px;
  min-width: 20%;
  min-height: 250px;
  margin-top: 10px;
  padding-top: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: center;
  align-self: stretch;
  background-color: var(--admin-item-color);
  box-shadow: 1px 1px 0 var(--accent-color);
}

.admin-item-title {
  font-size: 23px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.admin-item-contents {
  padding: 27%;
  font-size: 30px;
}

#theme-toggle {
  position: fixed;
  top: 0;
  right: 0;
  padding-right: 1.3%;
  padding-top: 1.3%;
  font-size: 22px;
  color: var(--theme-toggle-color);
}

#theme-toggle:hover {
  transition: 0.15s;
  -o-transition: 0.15s;
  -ms-transition: 0.15s;
  -moz-transition: 0.15s;
  -webkit-transition: 0.15s;
  color: var(--accent-color);
}

footer {
  width: 100%;
  height: 2.3rem;
  margin: 0;
  position: absolute;
  bottom: 0;
  background-color: var(--footer-color);
}

.footer-container {
  height: 2.3rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: flex-start;
  padding-left: 1.5rem;
}

.footer-item {
  font-size: 11px;
  min-width: 20px;
  padding-right: 1em;
  padding-left: 1em;
  color: var(--footer-item-color);
}

@media only screen and (max-width: 768px) {
  .page-heading {
    padding-left: 1.5rem;
  }

  .page-title {
    font-size: 30px;
  }

  #query {
    width: 85vw;
    padding: 10px;
    font-size: 15px;
  }

  #results-box {
    width: 85%;
    padding-left: 2rem;
  }

  #theme-toggle {
    padding-right: 2%;
    padding-top: 2%;
    font-size: 20px;
  }

  .footer-container {
    height: 2.3rem;
    padding-left: 1.3rem;
  }
}
