html {
  color: var(--general-color);
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}

.theme-light {
  --fixed-white: #ffffff;
  --fixed-grey: #a9a9a9;
  --general-color: #161618;
  --background-color: #ffffff;
}

.theme-dark {
  --fixed-white: #ffffff;
  --fixed-grey: #a9a9a9;
  --general-color: #ffffff;
  --background-color: #161618;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--general-color);
}

#home-search-section {
  height: 100vh;
  margin: auto;
  text-align: center;
}

#site-name {
  font-size: 50px;
  padding-top: 30vh;
  margin-bottom: 3vh;
  color: var(--general-color);
}

#version {
  font-size: 10px;
}

#theme-toggle {
  position: fixed;
  bottom: 0;
  right: 0;
  padding-right: 1.5%;
  padding-bottom: 1%;
  font-size: 10px;
  color: var(--fixed-grey);
}

#query {
  width: 55vw;
  padding: 11px;
  font-size: 17px;
  margin-bottom: 3vh;
  border-radius: 12px;
  transition: box-shadow 0.3s;
  border: 1px solid var(--fixed-grey);
}

#submit-button {
  display: block;
  margin: auto;
  padding: 0.1rem;
  visibility: hidden;
}

#results-section {
  height: fit-content;
  margin: auto;
  padding: 2em;
  padding-bottom: 5em;
}

#results-heading {
  font-size: 35px;
  padding-top: 2vh;
  margin-bottom: 4vh;
  color: var(--general-color);
}

#results-box {
  width: 75%;
  float: left;
  padding-left: 1rem;
  margin-bottom: 5vh;
}

.searchResult {
  font-size: 20px;
  display: block;
  margin-bottom: 0.5em;
  text-decoration: none;
  color: var(--general-color);
}

.searchResult:hover {
  transform: scale(1.03);
  transform-origin: top left;
  -o-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -webkit-transform: scale(1.03);
}

#notice {
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 1.5%;
  padding-bottom: 1%;
  font-size: 10px;
  color: var(--fixed-grey);
}
