{% extends "layout.html" %} {% block head %} {% endblock %} {% block title %}
Admin - reSearch {% endblock %} {% block body %}

<section id="admin-section">
  <div class="page-heading">
    <div class="page-title">Admin</div>
  </div>

  <div class="admin-container">
    <div class="admin-item">
      <div class="admin-item-title">Pageviews</div>
      <div class="admin-item-contents">500</div>
    </div>
    <div class="admin-item">
      <div class="admin-item-title">Queries</div>
      <div class="admin-item-contents">500</div>
    </div>
    <div class="admin-item">
      <div class="admin-item-title">Users</div>
      <div class="admin-item-contents">20</div>
    </div>
    <div class="admin-item">
      <div class="admin-item-title">Metrix</div>
      <div class="admin-item-contents">Contents</div>
    </div>
    <div class="admin-item">
      <div class="admin-item-title">Metrix</div>
      <div class="admin-item-contents">Contents</div>
    </div>
    <div class="admin-item">
      <div class="admin-item-title">Metrix</div>
      <div class="admin-item-contents">Contents</div>
    </div>
    <div class="admin-item">
      <div class="admin-item-title">Metrix</div>
      <div class="admin-item-contents">Contents</div>
    </div>
    <div class="admin-item">
      <div class="admin-item-title">Metrix</div>
      <div class="admin-item-contents">Contents</div>
    </div>
  </div>
</section>

{% endblock %}
