{% extends "layout.html" %} {% block head %}
<meta http-equiv="refresh" content="20" />
{% endblock %} {% block title %} Admin - reSearch {% endblock %} {% block body
%}

<section id="admin-section">
	<div class="page-heading">
		<div class="page-title">Admin</div>
	</div>

	<div class="admin-container">
		<div class="admin-item">
			<div class="admin-item-title">Total Queries</div>
			<div class="admin-item-contents">{{ stats[0] }}</div>
		</div>
		<div class="admin-item">
			<div class="admin-item-title">Active Queries</div>
			<div class="admin-item-contents">{{ stats[2] }}</div>
		</div>
		<div class="admin-item">
			<div class="admin-item-title">Metrix</div>
			<div class="admin-item-contents">N/A</div>
		</div>
		<div class="admin-item">
			<div class="admin-item-title">Metrix</div>
			<div class="admin-item-contents">N/A</div>
		</div>
		<div class="admin-item">
			<div class="admin-item-title">Articles Available</div>
			<div class="admin-item-contents">{{ stats[1] }}</div>
		</div>
		<div class="admin-item">
			<div class="admin-item-title">API</div>
			<div class="admin-item-contents">{{ api }}</div>
		</div>
		<div class="admin-item">
			<div class="admin-item-title">Metrix</div>
			<div class="admin-item-contents">N/A</div>
		</div>
		<div class="admin-item">
			<div class="admin-item-title">Metrix</div>
			<div class="admin-item-contents">N/A</div>
		</div>
	</div>
</section>

{% endblock %}
