<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- External Dependencies -->
    <!-- <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap"
      rel="stylesheet"
    /> -->
    <link
      rel="stylesheet"
      href="https://unicons.iconscout.com/release/v4.0.0/css/line.css"
    />

    <!-- Internal Dependencies -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script
      type="text/javascript"
      src="{{url_for('static', filename='js/main.js') }}"
    ></script>

    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}</title>
  </head>

  <body>
    <div id="buttons">
      <div class="button">
        <a href="{{ url_for('index') }}">
          <i class="uil uil-search"></i>
        </a>
      </div>
      <div class="button">
        <a onclick="toggleTheme()">
          <i class="uil uil-moon"></i>
        </a>
      </div>
    </div>

    <div id="content-wrapper">{% block body %} {% endblock %}</div>

    <footer>
      <div class="footer-item">
        <p>reSearch &copy; 2022</p>
      </div>
      <div class="footer-item">
        <p>
          <a href="{{ url_for('sources') }}" class="footer-item-link"
            >Sources</a
          >
        </p>
      </div>
      <div class="footer-item">
        <p>
          <a href="{{ url_for('legal') }}" class="footer-item-link">Legal</a>
        </p>
      </div>

      <div class="footer-item">
        <p>{% block time_taken %} {% endblock %}</p>
      </div>
    </footer>
  </body>
</html>
