{% extends "layout.html" %} {% block head %} {% endblock %} {% block title %}
Sources - reSearch {% endblock %} {% block body %}

<section id="sources-section">
  <div class="page-heading">
    <div class="page-title">Sources</div>
  </div>

  <div id="sources-box">
    <div class="source-author">Salafi Publication</div>

    <ul class="sources-list" id="Sources-Salafi-Publications">
      <li class="source-item">
        <a
          href="www.SalafiPubs.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >SalafiPubs.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.www.SalafiSounds.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >SalafiSounds.com</a
        >
      </li>
    </ul>

    <div class="source-author">Abu Iyyad</div>

    <ul class="sources-list" id="Sources-Abu-Iyyad">
      <li class="source-item">
        <a
          href="www.AboveTheThrone.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >AboveTheThrone.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Dajjaal.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Dajjaal.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Manhaj.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Manhaj.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Maturidis.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Maturidis.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.PiousMuslim.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >PiousMuslim.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.TawhidFirst.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >TawhidFirst.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.TheMadkhalis.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >TheMadkhalis.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.AboutAtheism.net"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >AboutAtheism.net</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Aqidah.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Aqidah.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Asharis.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Asharis.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Barelwis.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Barelwis.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Bidah.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Bidah.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.ibnTaymiyyah.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >ibnTaymiyyah.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Ikhwanis.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Ikhwanis.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.IslamAgainstExtremism.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >IslamAgainstExtremism.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.IslamJesus.ws"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >IslamJesus.ws.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Mutazilah.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Mutazilah.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Mutazilah.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Mutazilah.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Nabahani.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Nabahani.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Salafis.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Salafis.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Shia.bs"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Shia.bs</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Takfiris.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Takfiris.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.TheIslamBlog.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >TheIslamBlog.com</a
        >
      </li>

      <li class="source-item">
        <a
          href="www.Wahhabis.com"
          class="source-link"
          target="_blank"
          rel="noopener noreferrer"
          >Wahhabis.com</a
        >
      </li>
    </ul>
  </div>
</section>
{% endblock %}
