{% extends "layout.html" %} {% block head %} {% endblock %} {% block title %}
Sources - reSearch {% endblock %} {% block body %}

<section id="sources-section">
  <div class="page-heading">
    <div class="page-title">Sources</div>
  </div>

  <div id="sources-box">
    <div class="source-author">Salafi Publication</div>

    <ul class="sources-list" id="Sources-Salafi-Publications">
      <li class="source-item">
        <a href="www.SalafiPubs.com" class="source-link">SalafiPubs.com</a>
      </li>

      <li class="source-item">
        <a href="www.www.SalafiSounds.com" class="source-link"
          >SalafiSounds.com</a
        >
      </li>
    </ul>

    <div class="source-author">Abu Iyyad</div>

    <ul class="sources-list" id="Sources-Abu-Iyyad">
      <li class="source-item">
        <a href="www.AboveTheThrone.com" class="source-link"
          >AboveTheThrone.com</a
        >
      </li>

      <li class="source-item">
        <a href="www.Dajjaal.com" class="source-link">Dajjaal.com</a>
      </li>

      <li class="source-item">
        <a href="www.Manhaj.com" class="source-link">Manhaj.com</a>
      </li>

      <li class="source-item">
        <a href="www.Maturidis.com" class="source-link">Maturidis.com</a>
      </li>

      <li class="source-item">
        <a href="www.PiousMuslim.com" class="source-link">PiousMuslim.com</a>
      </li>

      <li class="source-item">
        <a href="www.TawhidFirst.com" class="source-link">TawhidFirst.com</a>
      </li>

      <li class="source-item">
        <a href="www.TheMadkhalis.com" class="source-link">TheMadkhalis.com</a>
      </li>

      <li class="source-item">
        <a href="www.AboutAtheism.net" class="source-link">AboutAtheism.net</a>
      </li>

      <li class="source-item">
        <a href="www.Aqidah.com" class="source-link">Aqidah.com</a>
      </li>

      <li class="source-item">
        <a href="www.Asharis.com" class="source-link">Asharis.com</a>
      </li>

      <li class="source-item">
        <a href="www.Barelwis.com" class="source-link">Barelwis.com</a>
      </li>

      <li class="source-item">
        <a href="www.Bidah.com" class="source-link">Bidah.com</a>
      </li>

      <li class="source-item">
        <a href="www.ibnTaymiyyah.com" class="source-link">ibnTaymiyyah.com</a>
      </li>

      <li class="source-item">
        <a href="www.Ikhwanis.com" class="source-link">Ikhwanis.com</a>
      </li>

      <li class="source-item">
        <a href="www.IslamAgainstExtremism.com" class="source-link"
          >IslamAgainstExtremism.com</a
        >
      </li>

      <li class="source-item">
        <a href="www.IslamJesus.ws" class="source-link">IslamJesus.ws.com</a>
      </li>

      <li class="source-item">
        <a href="www.Mutazilah.com" class="source-link">Mutazilah.com</a>
      </li>

      <li class="source-item">
        <a href="www.Mutazilah.com" class="source-link">Mutazilah.com</a>
      </li>

      <li class="source-item">
        <a href="www.Nabahani.com" class="source-link">Nabahani.com</a>
      </li>

      <li class="source-item">
        <a href="www.Salafis.com" class="source-link">Salafis.com</a>
      </li>

      <li class="source-item">
        <a href="www.Shia.bs" class="source-link">Shia.bs</a>
      </li>

      <li class="source-item">
        <a href="www.Takfiris.com" class="source-link">Takfiris.com</a>
      </li>

      <li class="source-item">
        <a href="www.TheIslamBlog.com" class="source-link">TheIslamBlog.com</a>
      </li>

      <li class="source-item">
        <a href="www.Wahhabis.com" class="source-link">Wahhabis.com</a>
      </li>
    </ul>
  </div>
</section>
{% endblock %}
